---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import Card2 from "../../components/Card2.astro";
import SearchField from "../../components/SearchField.astro";
import TagCloud from "../../components/TagCloud.astro";
import { fetchAndFilterPosts } from "../../utils/helpers";
import UsefulLinks from "../../components/UsefulLinks.astro";

const posts = await fetchAndFilterPosts();

const title = "All our Articles | KeralaServiceRules.com";
const description =
    "Here are all our articles published | KeralaServiceRules.com";
---

<BaseLayout {title} {description}>
    <main class="wrapper py-6">
        <div class="frame-grid">
            <div class="grid gap-8 divide-y-0">
                {posts.map((post) => <Card2 {post} />)}
            </div>
            <aside>
                <SearchField />
                <UsefulLinks />
                <TagCloud />
            </aside>
        </div>
    </main>
</BaseLayout>
