@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --clr-dark: #070504c3;
}

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

.font-manjari {
    font-feature-settings: "psts" off, "pres" off;
}

picture,
img {
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    text-align: center;
    background-color: #d1d5db;
}

@layer components {
    .frame-grid {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;

        @media (min-width: 800px) {
            gap: 2.5rem;
            grid-template-columns: 2.5fr 1fr;
        }
    }

    .typography {
        @apply prose prose-lg lg:prose-xl xl:prose-2xl prose-stone marker:text-stone-700 mx-auto;
        @apply prose-a:text-brand prose-a:underline-offset-8;

        overflow-wrap: break-word;
        /* So long texts don't cause overflow */

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 1rem;
        }

        blockquote {
            border-inline-start: 4px solid var(--clr-dark);
            font-style: normal;
            @apply md:mx-2 lg:mx-4 py-1 px-4 shadow-sm bg-gray-100;
        }
    }
}

@layer utilities {
    .wrapper {
        max-width: 1600px;
        width: 90%;
        margin-inline: auto;
    }

    .heading::after {
        content: "";
        display: block;
        margin-top: 10px;
        width: clamp(2em, 25%, 3em);
        height: 3px;
        @apply bg-brand
    }
}