---
import { Picture } from "astro:assets";

import notfound from "../assets/images/notfound.png";
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "404 Error - Page Not found | KeralaServiceRules.com";
const description = "Page Not found | KeralaServiceRules.com";
---

<BaseLayout {title} {description}>
    <main class="wrapper py-6">
        <div class="mx-auto max-w-md">
            <Picture
                src={notfound}
                alt="page not found"
                loading={"eager"}
                fetchpriority={"high"}
                decoding={"sync"}
                class="mx-auto mt-6 w-80 md:mt-8 lg:mt-10 xl:mt-12"
            />
            <p class="mt-6 text-center text-lg md:text-xl lg:text-2xl">
                The page you are looking for does not exist. You may check our
                <a
                    href="/"
                    class="text-brand underline decoration-2 underline-offset-4"
                    >Homepage</a
                >
            </p>
        </div>
    </main>
</BaseLayout>
