---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Downloads";
const description = "Download KSR from here.";
---

<BaseLayout {title} {description}>
  <main class="wrapper py-6">
    <div class="typography mx-auto">
      <ol class="my-3 list-decimal text-lg lg:text-xl">
        <li class="my-6">
          <a href="/downloads/ksr-volume1-8th.pdf" class="link"
            >Kerala Service Rules Volume 1 - 8th Edition</a
          >
          <p>Includes both Part 1 and Part 2 of KSR</p>
        </li>
        <li class="my-6">
          <a href="/downloads/ksr-volume2-6th.pdf" class="link"
            >Kerala Service Rules Volume 2 - 6th Edition</a
          >
          <p>
            Includes Part 3 of KSR. ( Amendments upto 31/10/2017 incorporated )
          </p>
        </li>
      </ol>
      <span class="heading mt-8 font-bold">NOTE</span>
      <p>
        All files provided here are not the original work of us and are
        published by Kerala Finance Department. We just provide the respective
        files as a helpful resource.
      </p>
    </div>
  </main>
</BaseLayout>
