---
const nav = [
    { text: "Home", link: "/" },
    { text: "Articles", link: "/article" },
    { text: "Downloads", link: "/downloads" },
    { text: "About", link: "/about" },
];
---

<header class="shadow-md bg-dark">
    <div class="wrapper py-10">
        <h1 class="text-center text-3xl lg:text-4xl text-gray-50 font-bold">
            Kerala Service Rules
        </h1>
    </div>
    <nav class="bg-white text-gray-900">
        <div class="max-w-xl mx-auto py-4 px-3 md:px-0">
            <ul class="flex flex-wrap items-center justify-around">
                {
                    nav.map((item) => (
                        <li>
                            <a
                                href={item.link}
                                class="text-lg lg:text-xl hover:text-brand hover:underline hover:underline-offset-8 hover:decoration-2"
                            >
                                {item.text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </div>
    </nav>
</header>
