---
import { fetchAndFilterPosts, generateTagData } from "../utils/helpers";

const posts = await fetchAndFilterPosts();

const uniqueTags = [
    ...new Set(posts.flatMap((post) => post.data.tags)),
] as string[];

const tagData: { name: string; slug: string }[] = generateTagData(uniqueTags);
---

<div class="mb-4 md:mb-5 lg:mb-6">
    <div class="text-xl lg:text-2xl font-semibold heading mb-4">Topics</div>
    <p class="text-lg mb-4">
        Here are all the topics we've posts about. Click to view all articles
        regarding similar topics.
    </p>
    <div class="flex flex-wrap gap-2">
        {
            tagData.map((tag) => (
                <a
                    href={`/tag/${tag.slug}`}
                    class="rounded p-2 bg-gray-100 hover:bg-gray-200"
                >
                    {tag.name}
                </a>
            ))
        }
    </div>
</div>
