---
const nav = [
    { text: "Govt. of Kerala Website", link: "https://kerala.gov.in/" },
    {
        text: "Departmental Test Website",
        link: "https://www.keralapsc.gov.in/departmental-test",
    },
    { text: "Kerala PSC Website", link: "https://www.keralapsc.gov.in/" },
    { text: "Spark Website", link: "https://www.spark.gov.in/webspark/" },
    { text: "Medisep Website", link: "https://medisep.kerala.gov.in/" },
];
---

<div class="mb-4 rounded border bg-gray-100 shadow-sm md:mb-5 lg:mb-6">
    <div class="heading mb-2 px-4 pt-2 text-xl font-medium">Useful Website Links</div>
    <ul class="divide-y-2">
        {
            nav.map((item) => (
                <li class="px-4 py-2">
                    <a href={`${item.link}`} class=" hover:underline">
                        {item.text}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
